/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
@import "utils";

.section1_layout {
  position: absolute;
  top: 0px;
  height: 1706px;
  width: 1920px;
  right: 0px;
}
.section1 {
  @include flex-column;
}
