/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
@import "utils";

$color_type_0: rgb(220, 234, 245);
$color_type_1: rgb(255, 255, 255);
$color_type_2: rgb(57, 65, 73);

$font_type_0: 18px/1.66 "Poppins", Helvetica, Arial, serif;

.group {
  @include flex-column;
}
.group_layout1 {
  position: relative;
}
.group_layout {
  position: relative;
  flex-grow: 1;
}
.main {
  @include flex-column;
  background-color: $color_type_1;
}
.main_layout {
  position: relative;
  overflow: hidden;
  flex-grow: 1;
}
.main_spacer {
  @include flex-column;
  position: relative;
}
.block14 {
  @include flex-column;
  background: var(--src) center center / contain no-repeat;
}
.block14_layout {
  position: absolute;
  top: 2483px;
  height: 667px;
  width: 637px;
  right: 320px;
}
.group1 {
  @include flex-column;
  background-color: $color_type_0;
}
.group1_layout {
  position: absolute;
  top: 84px;
  height: 703px;
  width: 1933px;
  right: -8px;
}
.highlights12 {
  @include font-face($font_type_0, $color_type_2, 0px);
  opacity: 0.5;
}
.highlights12_layout {
  position: absolute;
  top: 559px;
  height: 30px;
  left: 320px;
  width: 261px;
}
